# Backend - Data source
DATA_BACKEND=firebase

# Backend - Stripe
STRIPE_SECRET_KEY=

# Frontend - Stripe (necesario para checkout)
VITE_STRIPE_PUBLISHABLE_KEY=

# Frontend - API URL
VITE_API_URL=http://localhost:8000/api

# Docker - Host para acceder al frontend desde FastAPI
FRONTEND_URL=http://localhost:5173

# Python
PYTHONUNBUFFERED=1
