@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #0B0E14;
  --header-card: #161B22;
  --border-modal: #30363D;
  --accent: #00F5FF;
  --text-primary: #F0F6FC;
  --text-secondary: #8B949E;
  --button: #0E969C;
}

@theme inline {
  --color-background: var(--background);
  --color-header-card: var(--header-card);
  --color-border-modal: var(--border-modal);
  --color-accent: var(--accent);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-button: var(--button);
  --font-sans: 'Inter', sans-serif;
  /* --font-mono: var(--font-geist-mono); */
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}

h1 {
  color: var(--accent);
}
